div#twitch_embed {
    text-align: center;
    position: sticky;
    top: 3%;
}
div#stream_embed {
    display: inline-block;
    text-align: center;
}
div#chat_embed {
    display: inline-block;
    text-align: center;
}
div#channel_live {
    display: inline-block;
    text-align: center;
}
div#button_bar {
    text-align: center;
    position: sticky;
    top: 1%;
}
div#project_ORCMS {
    width: 45%;
    background-color: lightcoral;
}

h1 {
    text-align: center;
  }