div#twitch_embed {
    text-align: center;
    position: sticky;
    top: 3%;
}
div#stream_embed {
    display: inline-block;
    text-align: center;
}
div#chat_embed {
    display: inline-block;
    text-align: center;
}
div#channel_live {
    display: inline-block;
    text-align: center;
}
div#navigation_bar {
    text-align: center;
    position: sticky;
    top: 1%;
}
div#project_ORCMS {
    width: 45%;
    background-color: lightcoral;
}
div#stream_navigation_bar{
    text-align: center;
}
div#project_data{
    display: inline-block;
}
div#resource_selection{
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 25px 50px;
}
div#projects {
    margin-top: 25px;
}

#project_data_key{
    display: inline-block;
}
#project_data_value{
    display: inline-block;
}

h1 {
    text-align: center;
  }
body {
    width: 1280px;
    margin-left: -640px;
    padding-left: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}