div#twitch_embed {
    text-align: center;
    position: sticky;
    top: 1%;
}
div#stream_embed {
    display: inline-block;
    text-align: center;
}
div#chat_embed {
    display: inline-block;
    text-align: center;
}

h1 {
    text-align: center;
  }